h1{
    text-align: center;
}
.imageAboutPage{
    width: 60%;
    height: auto;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

col-lg-8 p {
    display: flex;
    width: 84%;
    align-items: center;
    justify-content: right;
    margin: auto;
    padding: 20px 0px;
}
.row{
    display: flex;
    width: 100%;
    padding: 50px 100px;
}
.wrapper{
    background-color: #ddd;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;

}
.col-md-8 offset-md-12 {
    position: relative;
    width: 100%;
    margin: 30px;
}
.col-md-8 p{

    margin-bottom: 20px;
    font-size: 80px;

}
.footer {
    text-align: center;
    background-color:rgb(125, 136, 153);

}
.footer a {
    padding:0.5em;

}